// normalize
@import './normalize';

// variable
@import './variable';



// fonts
// @import './fonts';

/*styles*/
html {

  // font-size: $font-size;
  min-height: 100%;
 
  &.overflow {
    height: auto;
    position: relative;
    // overflow: hidden !important;

    body {
      height: auto;
      position: relative;
      // overflow: hidden !important;
    }
  }
}

body {
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size;
  // line-height: $line-height;
  min-width: 320px;
  // margin: auto;
  // background: var(--white-background-100);
  color: var(--main-color);

}
main {
  // min-height: calc(100vh - 123px - 295px);

}

input,
button,
textarea {
  // font-family: $font-family;
}
input:-webkit-autofill {
  transition: all 5000s ease-in-out 0s;
}


